<div class="row">
  <aside class="d-none d-lg-block m-3">
    <div class="bg-body-tertiary rounded p-3 my-3">
      <h3 class="mb-3 fs-5">What's happening</h3>
      <div class="lh-sm">
        <small class="m-0 text-secondary">Programin • Trending</small>
        <h4 class="m-0 fs-6">#MongoVsSequelize</h4>
        <small class="m-0 text-secondary">97.5K Tweets</small>
      </div>
      <div class="lh-sm my-3">
        <small class="m-0 text-secondary">Entertainment • Trending</small>
        <h4 class="m-0 fs-6">#StarWars</h4>
        <small class="m-0 text-secondary">97.5K Tweets</small>
      </div>
      <div class="lh-sm">
        <small class="m-0 text-secondary">News • Trending</small>
        <h4 class="m-0 fs-6">#LifeInMars</h4>
        <small class="m-0 text-secondary">97.5K Tweets</small>
      </div>
    </div>

    <div class="bg-body-tertiary rounded p-3 my-3">
      <h3 class="mb-3 fs-5">Who to follow</h3>
      <div class="card-footer">
        <div class="row mb-3 g-0">
          <div class="col-2">
            <div class="d-flex justify-content-start align-items-center">
              <img
                src="/img/icons/generic_avatar.PNG"
                class="img-fluid rounded-circle w-75 mb-2"
                alt="avatar"
              />
            </div>
          </div>
          <div class="col-6 text-start">
            <div class="card-body">
              <h5 class="card-title mb-0 p-0 fs-6">Hack Academy</h5>
              <p class="card-text">
                <small class="text-body-tertiary">@HackAcademyDev</small>
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a class="btn mt-1 rounded-pill px-3 fw-bold followBtn" href="#" role="button"
                >Follow</a
              >
            </div>
          </div>
        </div>
        <!-- Termina row -->
        <div class="row mb-3 g-0">
          <div class="col-2">
            <div class="d-flex justify-content-start align-items-center">
              <img
                src="/img/icons/generic_avatar.PNG"
                class="img-fluid rounded-circle w-75 mb-2"
                alt="avatar"
              />
            </div>
          </div>
          <div class="col-6 text-start">
            <div class="card-body">
              <h5 class="card-title mb-0 p-0 fs-6">JavaScript</h5>
              <p class="card-text">
                <small class="text-body-tertiary">@JavaScript</small>
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a class="btn mt-1 rounded-pill px-3 fw-bold followBtn" href="#" role="button"
                >Follow</a
              >
            </div>
          </div>
        </div>
        <!-- Termina row -->
        <div class="row mb-3 g-0">
          <div class="col-2">
            <div class="d-flex justify-content-start align-items-center">
              <img
                src="/img/icons/generic_avatar.PNG"
                class="img-fluid rounded-circle w-75 mb-2"
                alt="avatar"
              />
            </div>
          </div>
          <div class="col-6 text-start">
            <div class="card-body">
              <h5 class="card-title mb-0 p-0 fs-6">MongoDb</h5>
              <p class="card-text">
                <small class="text-body-tertiary">@MongoDb</small>
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a class="btn mt-1 rounded-pill px-3 fw-bold followBtn" href="#" role="button"
                >Follow</a
              >
            </div>
          </div>
        </div>
        <!-- Termina row -->
        <div class="row mb-3 g-0">
          <div class="col-2">
            <div class="d-flex justify-content-start align-items-center">
              <img
                src="/img/icons/generic_avatar.PNG"
                class="img-fluid rounded-circle w-75 mb-2"
                alt="avatar"
              />
            </div>
          </div>
          <div class="col-6 text-start">
            <div class="card-body">
              <h5 class="card-title mb-0 p-0 fs-6">Node.js</h5>
              <p class="card-text">
                <small class="text-body-tertiary">@nodejs</small>
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a class="btn mt-1 rounded-pill px-3 fw-bold followBtn" href="#" role="button"
                >Follow</a
              >
            </div>
          </div>
        </div>
        <!-- Termina row -->
        <div class="row mb-3 g-0">
          <div class="col-2">
            <div class="d-flex justify-content-start align-items-center">
              <img
                src="/img/icons/generic_avatar.PNG"
                class="img-fluid rounded-circle w-75 mb-2"
                alt="avatar"
              />
            </div>
          </div>
          <div class="col-6 text-start">
            <div class="card-body">
              <h5 class="card-title mb-0 p-0 fs-6">MDN Web Docs</h5>
              <p class="card-text">
                <small class="text-body-tertiary">@MozDevNet</small>
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a class="btn mt-1 rounded-pill px-3 fw-bold followBtn" href="#" role="button"
                >Follow</a
              >
            </div>
          </div>
        </div>
        <!-- Termina row -->
      </div>
      <!-- Termina card-footer -->
    </div>
  </aside>
</div>
