@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  background-color: white;
}

.followBtn {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: #1d9bf0;
  padding: 4px;
}
.followBtn:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
}

.followingBtn {
  color: black;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: #ffffff;
  padding: 4px;
}
.followingBtn:hover {
  background-color: #1d9bf0;
  border: 1px solid transparent;
  color: white;
}

h3 {
  border-bottom: 4px solid transparent;
  padding-bottom: 10px;
}

h3:hover {
  border-bottom: 4px solid #1d9bf0;
  padding-bottom: 10px;
}

.follow-text {
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0;
}
