@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

#profileHeader {
  height: 200px;
  background-color: #1d9bf0;
}

#profilePhoto {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  z-index: 8;
  border: 6px solid white;
  object-fit: cover;
  transform: translateY(10%);
}

@media (max-width: 772px) {
  #profilePhoto {
    top: 10%;
    transform: translateY(50%);
  }
}

#profileInfo {
  height: 220px;
  /*background-color: lightblue;*/
}

#button {
  position: absolute;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  background-color: #1d9bf0;
  border: none;
  border-radius: 40px;
  width: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  right: 1rem;
  top: 1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  color: grey;
}

#userData {
  position: relative;
}

#tweets {
  border-bottom: 5px solid #1d9bf0;
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  padding-bottom: 10px;
}

#userTweet {
  height: 200px;
}

#homeHeader {
  height: 200px;
}

textarea {
  resize: none;
}

.tweet-text {
  font-size: 0.8rem;
  line-height: 1.4;
  /* Agrega cualquier otra personalización deseada */
}

.username,
.follow-number {
  font-size: 0.8rem;
}

.main-username {
  font-size: 1.3rem;
  font-weight: bolder;
}

.main-usertext {
  font-size: 0.8rem;
  font-weight: lighter;
}
