#logoutButton {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 4px;
}

#logoutButton {
  background-color: #d93434;
}

#logoutButton:hover {
  background-color: #ffffff;
  border: 1px solid #d93434;
  color: #d93434;
}

.tweetButton {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: #1d9bf0;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.tweetButton:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
}

#leftSidebar {
  min-height: 90vh;
}
#sidebarTweet,
#sidebarIconTweet {
  background-color: #1d9bf0;
  border: none;
  color: #ffffff;
}
#sidebarIconTweet,
#sidebarIconLogout {
  margin: 0px;
}

#sidebarIconLogout {
  background-color: #dc3545;
  color: #ffffff;
}
